export EMAIL_FROM_ADDRESS=no-reply@cloud.gov.au
export EMAIL_HOST=smtp.example.com
export EMAIL_PORT=587
export EMAIL_USER=
export EMAIL_PASSWORD=
export GITHUB_APP_ID=
export GITHUB_API_SECRET=
export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=
export OIDC_CLIENT_ID_CI=
export OIDC_CLIENT_SECRET_CI=
export OIDC_CLIENT_ID_PROD=
export OIDC_CLIENT_SECRET_PROD=
export OIDC_DOMAIN=
export OIDC_SCOPE=
